# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# misc
.DS_Store

# dirs
bin/
doc/
build/
lib/
.vscode
/python/env
/python/qr_mumps

__pycache__

# data products:
/guess_*.*
/solution_*.*